en:
  <%= underscored_name %>:
    plugin_name: "<%= humanized %>"
    plugin_description: ""

  rys_features:
    <%= underscored_name %>:
      title: "<%= humanized %>"
      description: "<%= humanized %>"
