Rails.application.routes.draw do
  # Usually definition
  #
  # get '<%= namespaced_name %>_issue_1', to: 'issues#index'

  # Conditional definition
  #
  # get '<%= namespaced_name %>_issues_2', to: 'issues#index', rys_feature: '<%= dotted_name %>.issue'

  # Conditional block definiton
  #
  # rys_feature '<%= dotted_name %>.issue' do
  #   get '<%= namespaced_name %>_issues_3', to: 'issues#index'
  # end
end
