require 'rys'

module <%= camelized %>
  class Engine < ::Rails::Engine
    include Rys::EngineExtensions

    rys_id '<%= name %>'

    initializer '<%= name %>.setup' do
      # Custom initializer
    end

  end
end
