<table class="list">
  <tr>
    <th>Name</th>
    <th>Active in current scope</th>
    <th></th>
  </tr>

  <% Easy::Feature.all_features.each do |name, feature| %>
    <tr>
      <td><%= name %></td>
      <td><%= feature.active? %></td>
      <td></td>
    </tr>
  <% end %>
</table>
