Rys::Patcher.add('Project') do
  apply_if_plugins :easy_extensions

  included do
    # has_many :things

    after_commit :<%= name %>_ensure_something, if: -> { Rys::Feature.active?('<%= name %>.project') }
  end

  instance_methods do
    private

    def <%= name %>_ensure_something
      puts 'Features are activated'
    end

  end

  instance_methods(feature: '<%= name %>.project') do
    def to_s
      "I'am cool " + super
    end
  end

  class_methods do
  end
end
