# Hooks definitions
# http://www.redmine.org/projects/redmine/wiki/Hooks
#
<%= modules_wrap <<-rb
# class Hooks < ::Redmine::Hook::ViewListener
#   render_on :view_issues_show_details_bottom, partial: 'issues/#{name}/view_issues_show_details_bottom'
# end
rb

%>
