# Tests configuration
# - Allowed failures
#
# if Rails.env.test?
#   extensions_skipped = [
#     'MyNewController #my_new_action',
#   ]
#   EasyExtensions::Tests::AllowedFailures.register(extensions_skipped) if Redmine::Plugin.installed?(:easy_extensions)
# end
