Rys::Patcher.add('String') do

  apply_only_once!

  apply_if do
    !String.new.respond_to?(:to_boolean)
  end

  instance_methods do
    def to_boolean
      case self
      when 'yes', 'y', 'true', 't', '1'
        true
      else
        false
      end
    end
  end

end
