# <%= camelized %>

## Development

##### By path (default)

Into gem file

    gem '<%= name %>', path: PLUGIN_PATH


##### By git

Into gem file

    gem '<%= name %>', git: 'git@git.cz:plugins/<%= name %>.git'

Into shell

    bundle config local.<%= name %> PLUGIN_PATH


##### By redmine plugin

Ensure you have redmine plugin for rys plugins

    rails generate rys:redmine:plugin REDMINE_PLUGIN

Move plugin

    mv PLUGIN_PATH REDMINE_PLUGIN/local
